<html>

<head>
    <link href="//cdn.muicss.com/mui-0.10.0/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.0/js/mui.min.js"></script>
    <link href="upload-success.css" rel="stylesheet" type="text/css" />
    <style>
        .container {
            margin: auto;
            max-width: 500px;
            margin-top: 50px;
        }

        .inline {
            display: inline;
        }

        .icon {
            border-radius: 25%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
        }

        .qr {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .app_title {
            vertical-align: top;
            margin-top: 12px;
            margin-bottom: 12px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="mui-container container">
        <div class="inline">
            <img class="icon center"
                src="https://cdn.jim-nielsen.com/ios/1024/enlight-videoleap-video-editor-2019-12-23.png"
                alt="Mountain" />
            <div class="mui--text-headline app_title">APP_NAME</div>
            <div class="mui--text-subhead app_title">BUNDLE_VERSION</div>
            <button class="mui-btn mui-btn--primary">Install</button>
            <img class="qr center" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=BUILD_URL" />
        </div>
    </div>
</body>